---
layout: main
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<meta property="fb:admins" content="{LuisiLLL}"/>

<article class="article-page">
  <div class="page-content">
    <div class="page-cover-image">
      <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    </div> <!-- End Page Cover Image -->
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{page.content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Compartir en Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Compartir en Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Compartir en Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
        <div class="fb-comments" data-href="https://luisenriquezbenet.github.io" data-numposts="5"></div>
      </div>
      </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
